openapi: 3.0.0
info:
  version: '1.0'
  title: 'USPS Web Tools API'
  description: 'This site is an open source effort to improve the experience for developers utilizing the <a href="https://www.usps.com/business/web-tools-apis/" target="_blank">USPS Web Tools APIs</a>. <br><br>Documentation is generated using Redoc and an OpenAPI 3.0 spec created from the USPS official [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") (PDF). <br><br>We have corrected errors and made UX improvements but welcome your feedback on how to improve this site in the future.  Contact us at <a href="mailto: lob-openapi@lob.com?subject=USPSWebTools docs" target="_blank">lob-openapi@lob.com</a>'  
servers:
  - url: 'http://production.shippingapis.com'
tags:
  - name: Who is Lob?
    x-traitTag: true
    description: |
      Lob offers Direct Mail APIs Designed for Developers.
      <br>
      <br>
      <ul>
        <li><a href=" https://docs.lob.com/#tag/Postcards" target="_blank">Print & Mail APIs</a></li>
        <li><a href=" https://docs.lob.com/#tag/US-Verifications" target="_blank">Address Verification APIs</a></li>
        <li><a href=" https://docs.lob.com/#tag/Getting-Started" target="_blank">Get Started with Lob.</a></li>
      </ul>
      <p>
      Transform outdated, manual print & mail processes with Lob’s 
      easy-to-integrate APIs. Trigger on-demand postcards, letters, and 
      checks directly from your CRM or custom applications.
      </p>
      <br>
      <p>
      Improve your mail deliverability by adding address autocomplete on 
      the front-end, and correct, standardize, and cleanse address data 
      for assured delivery across 240+ countries and territories.
      </p>
      <br>
      <p>
      Meet compliance requirements by deploying webhooks to automatically 
      track production and delivery for each piece of mail. 
      Send HIPAA-compliant mailings that properly protect healthcare 
      data and report on real-time and historic mail statuses for 
      compliance audits.
      </p>
  - name: Web Tools Authentication
    x-traitTag: true
    description: |
      USPS Web Tools API are accessible using your Web Tools User ID. To authenticate a request add 
      the USERID attribute to the outermost XML element and set the value equal to your Web Tools User ID.
      <br><br>
      For example, `<AddressValidateRequest USERID="{WEB_TOOLS_USER_ID}">`
      <br><br>
      [Register](https://www.usps.com/business/web-tools-apis/) on the USPS Web Tools API Portal for your Web Tools ID.
      <br><br>
      
      USPS official [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") - PDF format.
      <br><br>
      <em>Note: USPS Web Tools API does not follow standard OAuth, OpenID or Basic Authentication patterns. For this reason,
      securitySchemes have been omitted in the OpenAPI specification used to generate this documentation. </em> 

      ### Important Notice: User ID
      The Web Tools User ID provided is for you and your company to use when requesting data via the Internet from the U.S. Postal Service API servers. As per the Terms and Conditions of Use Agreement you agreed to during the Web Tools registration process, you are responsible to maintain the confidentiality of your User ID as specified. You may not package any APIs with your User ID for resale or distribution to others. The U.S. Postal Service does not prohibit the reuse and/or distribution of the API documentation (User's Guide) with sample code in order to generate awareness, encourage use or provide ease-of-use to customers or affiliates.
      <br><br>
      <strong>Warning</strong> - If the U.S. Postal Service discovers use of the same User ID from more than one web site, all users will be subject to loss of access to the USPS production server and/or termination of the licenses granted under the Terms and Conditions of Use. 
  - name: Postman
    x-traitTag: true
    description: |
      We've created a Postman public workspace for developers to explore the 
      USPS Web Tools APIs.  You will need your own Web Tools UserID to use this 
      collection.  [See Authentication](#tag/Authentication)

      ### Address Verification
      <div class="postman-run-button" data-postman-action="collection/fork" data-postman-var-1="16169677-e6373072-8748-4ea1-9fa7-bbe3f50b53ca"
      data-postman-collection-url="entityId=16169677-e6373072-8748-4ea1-9fa7-bbe3f50b53ca&entityType=collection&workspaceId=a1340f6a-f0e3-4f1d-b724-0a96e695f12c"></div>
      <script type="text/javascript">
        (function (p,o,s,t,m,a,n) {
          !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
          !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
            (n = o.createElement("script")),
            (n.id = s+t), (n.async = 1), (n.src = m), n
        ));
       }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
      </script>

      ### Domestic Mail Service
      <div class="postman-run-button"
        data-postman-action="collection/fork"
        data-postman-var-1="16169677-32a26398-5c84-4628-81cc-1bad9859d093"
        data-postman-collection-url="entityId=16169677-32a26398-5c84-4628-81cc-1bad9859d093&entityType=collection&workspaceId=a1340f6a-f0e3-4f1d-b724-0a96e695f12c"></div>
        <script type="text/javascript">
         (function (p,o,s,t,m,a,n) {
            !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
            !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
             (n = o.createElement("script")),
              (n.id = s+t), (n.async = 1), (n.src = m), n
           ));
          }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
      </script>

        ### Track & Confirm Package
        <div class="postman-run-button"
          data-postman-action="collection/fork"
          data-postman-var-1="16169677-1af62154-f1a6-4a66-8e99-8538164e5fcf"
          data-postman-collection-url="entityId=16169677-1af62154-f1a6-4a66-8e99-8538164e5fcf&entityType=collection&workspaceId=a1340f6a-f0e3-4f1d-b724-0a96e695f12c"></div>
          <script type="text/javascript">
            (function (p,o,s,t,m,a,n) {
                !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
               !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
                (n = o.createElement("script")),
               (n.id = s+t), (n.async = 1), (n.src = m), n
               ));
           }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
          </script>


  - name: Address Verification APIs
    x-traitTag: false
    description: |  
      The Address Validation APIs can be used in conjunction with USPS 
      SHIPPING OR MAILING SERVICES ONLY. The Address API must only be 
      used on an individual transactional basis, i.e. not batch processing 
      or cleansing of a database, but as a customer enters the information 
      into a form on a website. Failure to comply with these terms and 
      conditions can result in termination of USPS API access without prior 
      notice.
  
  - name: Address
    x-traitTag: false
    description: |
      The Address/Standardization "Verify" API, which corrects errors in street addresses, including 
      abbreviations and missing information, and supplies ZIP Codes and ZIP Codes + 4. The Verify API 
      supports up to five lookups per transaction. By eliminating address errors, you will improve 
      overall package delivery service.
      
  - name: City & State
    x-traitTag: false
    description: |
      City/State Lookup API returns the city and state corresponding to the given ZIP Code. 
      The CityStateLookup API processes up to five lookups per request.
  
  - name: ZIP Code
    x-traitTag: false
    description: |
      The ZipCodeLookup API, which returns the ZIP Code and ZIP Code + 4 corresponding to the given 
      address, city, and state (use USPS state abbreviations). The ZipCodeLookup API processes up to 
      five lookups per request.

  - name: Domestic Mail Service
    x-traitTag: true
    description: |
      Domestic Mail Service Standards

  - name: Priority Mail
    x-traitTag: false
    description: |
      The Priority Mail Service Standards API receives requests and returns the number of days (on average) it will
      take a Priority Mail package to arrive at its destination. Ensure that end-users understand that these are service
      standards and not guaranteed commitments. The Priority Mail Service Standards API processes a single request
      
  - name: StandardB
    x-traitTag: false
    description: |
      The Package Services “StandardB” API receives requests and returns the average number of days it will take a
      package to arrive at its destination. There are four types of Package Services: Standard Post, Bound Printed
      Matter, Library Mail, and Media Mail. The Package Services “StandardB” API processes a single request. Ensure
      that end-users understand that these are service standards and not guaranteed commitments.

  - name: First Class Mail
    x-traitTag: false
    description: |
      The First Class Mail Service Standards API receives requests and returns the average number of days it will take
      a package to arrive at its destination. The First Class Mail Service Standards API processes a single request.
      Ensure that end-users understand that these are service standards and not guaranteed commitments.

  - name: Express Mail Commitment
    x-traitTag: false
    description: |
      The Express Mail Service Commitments API provides delivery commitments for Express Mail packages for the
      given Zip Codes to include package drop-off information. A user provides an origination and a destination Zip
      Code and an optional current or future date that the package will be shipped.

  - name: Package Track & Confirm
    x-traitTag: true
    description: |
      To obtain Package Tracking API (API=TrackV2) access, users will need to contact the USPS Web Tools 
      Program Office to request access and supply additional information for customer verification. 
      
      Note: This applies to both TrackV2 API simplified track requests (i.e., “TrackRequest”) and 
      TrackV2 API detailed track requests (i.e., “TrackFieldRequest”). Users should follow these 
      steps to submit a request for Tracking APIs access: 

      Navigate to: https://usps.force.com/emailus/s/web-tools-inquiry and provide user 
      name (Web Tools User ID), select “Tracking APIs”, select “Track API” and submit the 
      request with the following information below in the “Additional Information” text box:
      <br><br>
      <ul>
      <li>Web Tools UserID</li>
      <li>Mailer ID (MID)</li>
      <li>Company Name</li>
      <li>Requester First and Last Name</li>
      <li>Requester Email</li>
      <li>Requester Phone number</li>
      <li>Mailing Address</li>
      <li>Mailing City</li>
      <li>Mailing State</li>
      <li>Mailing Zip Code</li>
      <li>PROD Registration Date</li>
      <li>API access requested: Package Tracking (API=TrackV2)</li>
      <li>Anticipated volume</li>
      <li>Any additional information from the customer</li>
      </ul>
      Four service APIs are offered in conjunction with “Revision=1” of the Package Tracking “Fields” API: Track and Confirm by Email, Proof of Delivery, Tracking Proof of Delivery, and Return Receipt Electronic. The response data from Track/Confirm Fields request determines which services are available for a tracking ID. Each request input to the Web Tools server for the tracking service APIs is limited to one tracking ID. These APIs require additional permissions from the Web Tools Program Office in order to gain
        
      USPS Web Tools User Guide
      access. When you request access for these APIs, please identify your anticipated API volume, mailer ID, and how you will be utilizing this API. A mailer identification number (MID) is a 6 or 9-digit number assigned to a customer through the USPS Business Customer Gateway (BCG). Please refer to the following links for help:
      
      * https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID • https://postalpro.usps.com/mailing/mailer-id
  
  - name: Package Tracking
    x-traitTag: false
    description: |
      The Track/Confirm Web Tools API provides tracking status and delivery information for USPS packages. The Track/Confirm 
      API limits the data requested to thirty-five (35) packages per transaction.
      <br><br>
      Note: The data returned by the Package Track Web Tools API is intended for display only. The content or sequence of the String 
      data returned by the API may change. Consequently, if you desire to apply any kind of logic against the tracking data, then 
      you will need to use the Track/Confirm fields.
      <br><br>
      The Package Tracking “Fields” API is similar to the Package Track API except for the request fields, API name, and 
      the return information. Data returned still contains the detail and summary information, but this information is 
      broken down into fields instead of having only one line of text. Up to 10 tracking IDs may be contained in each 
      API request to the Web Tools server.

  - name: Track & Confirm by Email
    x-traitTag: false
    description: |
      The Track and Confirm by Email API allows the customer to submit their 
      email address to be notified of current or future tracking activity. 
      When you request access for this API, please identify your anticipated 
      API volume, mailer ID and how you will be utilizing this API. 

      A mailer identification number (MID) is a 6 or 9-digit number assigned 
      to a customer through the USPS Business Customer Gateway (BCG). 
      Please refer to the following links for help:

      * https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID 
      * https://postalpro.usps.com/mailing/mailer-id

  - name: Proof of Delivery
    x-traitTag: false
    description: |

      Proof of Delivery is a letter that includes the recipient's name and a 
      copy of their signature. The Proof of Delivery API allows the customer 
      to request proof of delivery notification via email. When you request 
      access for this API, please identify your anticipated API volume, 
      mailer ID and how you will be utilizing this API. A mailer identification 
      number (MID) is a 6 or 9-digit number assigned to a customer through 
      the USPS Business Customer Gateway (BCG). Please refer to the following 
      links for help:

      * https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID 
      * https://postalpro.usps.com/mailing/mailer-id
  
  - name: Return Receipt Electronic
    x-traitTag: false
    description: |

      The Return Receipt Electronic API allows the customer to request a copy 
      of the proof of delivery record via email. When you request access for 
      this API, please identify your anticipated API volume, mailer ID and 
      how you will be utilizing this API. A mailer identification number (MID) 
      is a 6 or 9-digit number assigned to a customer through the USPS Business 
      Customer Gateway (BCG). Please refer to the following links for help:

      * https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID 
      * https://postalpro.usps.com/mailing/mailer-id

  - name: Track Proof of Delivery
    x-traitTag: false
    description: |
      Track Proof of Delivery is a letter that includes the recipient's name 
      and a copy of their signature. The Track Proof of Delivery API allows 
      the customer to request proof of delivery notification via email. 
      When you request access for this API, please identify your anticipated 
      API volume, mailer ID and how you will be utilizing this API. 
      A mailer identification number (MID) is a 6 or 9-digit number 
      assigned to a customer through the USPS Business Customer Gateway 
      (BCG). Please refer to the following links for help:

      * https://gateway.usps.com/eAdmin/view/knowledge?securityId=MID
      * https://postalpro.usps.com/mailing/mailer-id
  
  - name: Rate Calculation
    x-traitTag: true
    description: |
      USPS Web Tools - Domestic Rate Calculator
  
  - name: Domestic
    x-traitTag: false
    description: |
      The Track/Confirm Web Tools API provides tracking status and delivery information for USPS packages. The Track/Confirm 
      API limits the data requested to thirty-five (35) packages per transaction.
      <br><br>
      Note: The data returned by the Package Track Web Tools API is intended for display only. The content or sequence of the String 
      data returned by the API may change. Consequently, if you desire to apply any kind of logic against the tracking data, then 
      you will need to use the Track/Confirm fields.
      <br><br>
      The Package Tracking “Fields” API is similar to the Package Track API except for the request fields, API name, and 
      the return information. Data returned still contains the detail and summary information, but this information is 
      broken down into fields instead of having only one line of text. Up to 10 tracking IDs may be contained in each 
      API request to the Web Tools server.
  
x-tagGroups:
  - name: Overview
    tags:
      - Who is Lob?
      - Web Tools Authentication
      - Postman
      - Address Verification APIs
      - Address
      - City & State
      - ZIP Code
      - Domestic Mail Service
      - Priority Mail
      - StandardB
      - First Class Mail
      - Express Mail Commitment
      - Package Track & Confirm
      - Package Tracking
      - Track & Confirm by Email
      - Proof of Delivery
      - Return Receipt Electronic
      - Track Proof of Delivery
      - Rate Calculation
      - Domestic
paths:
  /ShippingAPI.dll?API=CityStateLookup":
    get:
      summary: 'Lookup City & State'
      operationId: city_state_lookup
      tags:
        - City & State
      parameters:
        - name: API
          in: query
          description: This query parameter defines the resource you are accessing. For city & state lookup your API query param value must equal `CityStateLookup`.
          required: true
          schema:
            type: string
            default: CityStateLookup
        - name: XML
          in: query
          description: This query parameter defines the XML payload and it can not be passed in the body<br><br><div class="code"><p id="isPasted">&lt;CityStateLookupRequest USERID=&quot;XXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;ZipCode&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Zip5&gt;94107&lt;/Zip5&gt;<br>&nbsp; &nbsp; &lt;/ZipCode&gt;<br>&lt;/CityStateLookupRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CityStateLookupRequest'
              x-example: '<CityStateLookupRequest USERID="XXXXXX">
                            <ZipCode>
                                <Zip5>94107</Zip5>
                            </ZipCode>
                        </CityStateLookupRequest>'
      responses:
        '200':
          description: response to City State lookup'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/CityStateLookupResponse'
              example: '<CityStateLookupResponse>
                            <ZipCode>
                                <Zip5>94556</Zip5>
                                <City>MORAGA</City>
                                <State>CA</State>
                            </ZipCode>
                        </CityStateLookupResponse>'
  /ShippingAPI.dll?API=Verify:
    get:
      summary: 'Verify a US address'
      operationId: verify
      tags:
        - Address
      parameters:
        - name: API
          in: query
          description: This query parameter defines the resource you are accessing. For address verification your API query param value must equal `Verify`.
          required: true
          schema:
            type: string
            default: Verify
        - name: XML
          in: query
          description: This query parameter defines the XML payload and can not be passed in the body<br><br><div class="code">&lt;AddressValidateRequest USERID=&quot;XXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;Address&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Revision&gt;1&lt;/Revision&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Address1&gt;Suite 6100&lt;/Address1&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Address2&gt;185 Berry St&lt;/Address2&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;City&gt;San Francisco&lt;/City&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;State&gt;CA&lt;/State&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Zip5&gt;94556&lt;/Zip5&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Zip4&gt;&lt;/Zip4&gt;<br>&nbsp; &nbsp; &lt;/Address&gt;<br>&lt;/AddressValidateRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AddressValidateRequest'
              example: '<AddressValidateRequest USERID="XXXXXX">
                            <Address>
                                <Revision>1</Revision>
                                <Address1>Suite 6100</Address1>
                                <Address2>185 Berry St</Address2>
                                <City>San Francisco</City>
                                <State>CA</State>
                                <Zip5>94556</Zip5>
                                <Zip4></Zip4>
                            </Address>
                        </AddressValidateRequest>'
      responses:
        '200':
          description: response to Address verification'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/AddressValidateResponse'
              example: '<AddressValidateResponse>
                            <Address>
                                <Address1>STE 6100</Address1>
                                <Address2>185 BERRY ST</Address2>
                                <City>SAN FRANCISCO</City>
                                <State>CA</State>
                                <Zip5>94107</Zip5>
                                <Zip4>1741</Zip4>
                                <DeliveryPoint>25</DeliveryPoint>
                                <CarrierRoute>C001</CarrierRoute>
                                <Footnotes>AN</Footnotes>
                                <DPVConfirmation>Y</DPVConfirmation>
                                <DPVCMRA>N</DPVCMRA>
                                <DPVFootnotes>AABB</DPVFootnotes>
                                <Business>Y</Business>
                                <CentralDeliveryPoint>N</CentralDeliveryPoint>
                                <Vacant>N</Vacant>
                            </Address>
                        </AddressValidateResponse>'
  /ShippingAPI.dll?API=ZipCodeLookup:
    get:
      summary: 'Lookup a ZIP Code'
      operationId: zipcode_lookup
      tags:
        - ZIP Code
      parameters:
        - name: API
          in: query
          description: This query parameter defines the resource you are accessing. For ZIP Code lookup your API query param value must equal `ZipCodeLookup`.
          required: true
          schema:
            type: string
            default: ZipCodeLookup
        - name: XML
          in: query
          description: This query parameter defines the XML payload. and it can not be passed in the body<br><br><div class="code">&lt;ZipCodeLookupRequest USERID=&quot;XXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;Address&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Address1&gt;Suite 6100&lt;/Address1&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Address2&gt;185 Berry St&lt;/Address2&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;City&gt;San Francisco&lt;/City&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;State&gt;CA&lt;/State&gt;<br>&nbsp; &nbsp; &lt;/Address&gt;<br>&lt;/ZipCodeLookupRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ZipCodeLookupRequest'
              example: '<ZipCodeLookupRequest USERID="XXXXXX">
                            <Address>
                                <Address1>Suite 6100</Address1>
                                <Address2>185 Berry St</Address2>
                                <City>San Francisco</City>
                                <State>CA</State>
                            </Address>
                        </ZipCodeLookupRequest>'
      responses:
        '200':
          description: response to ZIP Code lookup'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ZipCodeLookupResponse'
              example: '<ZipCodeLookupResponse>
                            <Address>
                                <Address1>STE 6100</Address1>
                                <Address2>185 BERRY ST</Address2>
                                <City>SAN FRANCISCO</City>
                                <State>CA</State>
                                <Zip5>94107</Zip5>
                                <Zip4>1741</Zip4>
                            </Address>
                        </ZipCodeLookupResponse>'
  /ShippingAPI.dll?API="PriorityMail":
    get:
      summary: 'Priority Mail Service'
      operationId: priority_mail
      tags:
        - Priority Mail
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: PriorityMail
        - name: XML
          in: query
          description: XML payload <br><br><div class="code">&lt;PriorityMailRequest USERID=&rdquo;XXXXXXXXXXXX&rdquo;&gt;<br>&nbsp; &nbsp; &lt;OriginZip&gt;90201&lt;/OriginZip&gt;<br>&nbsp; &nbsp; &lt;DestinationZip&gt;21114&lt;/DestinationZip&gt;<br>&lt;/PriorityMailRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorityMailRequest'
              example: '<PriorityMailRequest USERID=”XXXXXXXXXXXX”>
                            <OriginZip>90201</OriginZip>
                            <DestinationZip>21114</DestinationZip>
                        </PriorityMailRequest>'
      responses:
        '200':
          description: response to Priority Mail'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PriorityMailResponse'
              example: '<PriorityMailResponse>
                            <OriginZip>90210</OriginZip>
                            <DestinationZip>94556</DestinationZip>
                            <Days>4</Days>
                            <EffectiveAcceptanceDate>2022-02-24</EffectiveAcceptanceDate>
                            <ScheduledDeliveryDate>2022-02-28</ScheduledDeliveryDate>
                        </PriorityMailResponse>'
  /ShippingAPI.dll?API="StandardB":
    get:
      summary: 'Standard B Service'
      operationId: standardb
      tags:
        - StandardB
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: StandardB
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;StandardBRequest USERID=&rdquo;XXXXXXXXXXXX&rdquo;&gt;<br>&nbsp; &nbsp; &lt;OriginZip&gt;90201&lt;/OriginZip&gt;<br>&nbsp; &nbsp; &lt;DestinationZip&gt;21114&lt;/DestinationZip&gt;<br>&lt;/StandardBRequest&gt;<br></div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/StandardBRequest'
              example: '<StandardBRequest USERID=”XXXXXXXXXXXX”>
                            <OriginZip>90201</OriginZip>
                            <DestinationZip>21114</DestinationZip>
                        </StandardBRequest>'
      responses:
        '200':
          description: response to StandardB mail'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/StandardBResponse'
              example: '<StandardBResponse>
                            <OriginZip>90201</OriginZip>
                            <DestinationZip>21114</DestinationZip>
                            <Days>7</Days>
                        </StandardBResponse>'
  /ShippingAPI.dll?API="FirstClassMail":
    get:
      summary: 'First Class Mail Service'
      operationId: first_class_mail
      tags:
        - First Class Mail
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: FirstClassMail
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;FirstClassMailRequest USERID=&rdquo;XXXXXXXXXXXX&rdquo;&gt;<br>&nbsp; &nbsp; &lt;OriginZip&gt;90201&lt;/OriginZip&gt;<br>&nbsp; &nbsp; &lt;DestinationZip&gt;21114&lt;/DestinationZip&gt;<br>&lt;/FirstClassMailRequest&gt;<br></div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/FirstClassMailRequest'
              example: '<FirstClassMailRequest USERID=”XXXXXXXXXXXX”>
                            <OriginZip>90201</OriginZip>
                            <DestinationZip>21114</DestinationZip>
                        </FirstClassMailRequest>'  
      responses:
        '200':
          description: response to First Class Mail'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/FirstClassMailResponse'
              example: '<FirstClassMailResponse>
                            <OriginZip>90201</OriginZip>
                            <DestinationZip>21114</DestinationZip>
                            <Days>3</Days>
                        </FirstClassMailResponse>'
  /ShippingAPI.dll?API="ExpressMailCommitment":
    get:
      summary: 'Express Mail Commitment Service'
      operationId: express_mail_commitment
      tags:
        - Express Mail Commitment
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: ExpressMailCommitment
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;ExpressMailCommitmentRequest USERID=&quot;XXXXXXXXXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;OriginZIP&gt;63123&lt;/OriginZIP&gt;<br>&nbsp; &nbsp; &lt;DestinationZIP&gt;89301&lt;/DestinationZIP&gt;<br>&nbsp; &nbsp; &lt;Date&gt;05-26-2021&lt;/Date&gt;<br>&nbsp; &nbsp; &lt;DropOffTime&gt;09:00&lt;/DropOffTime&gt;<br>&nbsp; &nbsp; &lt;ReturnDates&gt;true&lt;/ReturnDates&gt;<br>&nbsp; &nbsp; &lt;PMGuarantee&gt;Y&lt;/PMGuarantee&gt;<br>&lt;/ExpressMailCommitmentRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                  $ref: '#/components/schemas/ExpressMailCommitmentRequest'
              example: '<ExpressMailCommitmentRequest USERID="XXXXXXXXXXXXX">
                            <OriginZIP>63123</OriginZIP>
                            <DestinationZIP>89301</DestinationZIP>
                            <Date>05-26-2021</Date>
                            <DropOffTime>09:00</DropOffTime>
                            <ReturnDates>true</ReturnDates>
                            <PMGuarantee>Y</PMGuarantee>
                        </ExpressMailCommitmentRequest>'
      responses:
        '200':
          description: response to Priority Mail'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpressMailCommitmentResponse'
              example: '<ExpressMailCommitmentResponse>
                            <OriginZIP>63123</OriginZIP>
                            <OriginCity>SAINT LOUIS</OriginCity>
                            <OriginState>MO</OriginState>
                            <DestinationZIP>89301</DestinationZIP>
                            <DestinationCity>ELY</DestinationCity>
                            <DestinationState>NV</DestinationState>
                            <Date>26-May-2021</Date>
                            <Time>9:00AM</Time>
                            <EffectiveAcceptanceDate>2021-05-26</EffectiveAcceptanceDate>
                            <Commitment>
                                <CommitmentName>2-Day</CommitmentName>
                                <CommitmentTime>6:00 PM</CommitmentTime>
                                <CommitmentSequence>A0218</CommitmentSequence>
                                <Location>
                                    <ScheduledDeliveryDate>2021-05-28</ScheduledDeliveryDate>
                                    <CutOff>5:30 PM</CutOff>
                                    <Facility>POST OFFICE</Facility>
                                    <Street>55 GRASSO PLZ</Street>
                                    <City>SAINT LOUIS</City>
                                    <State>MO</State>
                                    <Zip>63123</Zip>
                                </Location>
                            </Commitment>
                            <Commitment>
                                <CommitmentName>2-Day</CommitmentName>
                                <CommitmentTime>6:00 PM</CommitmentTime>
                                <CommitmentSequence>B0218</CommitmentSequence>
                                <Location>
                                    <ScheduledDeliveryDate>2021-05-28</ScheduledDeliveryDate>
                                    <CutOff>5:30 PM</CutOff>
                                    <Facility>POST OFFICE</Facility>
                                    <Street>55 GRASSO PLZ</Street>
                                    <City>SAINT LOUIS</City>
                                    <State>MO</State>
                                    <Zip>63123</Zip>
                                </Location>
                            </Commitment>
                        </ExpressMailCommitmentResponse>'
  /ShippingAPI.dll?API=PTSTPod:
    get:
      summary: 'Track Proof of Delivery'
      operationId: track_proof_of_delivery
      tags:
        - Track Proof of Delivery
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: PTSTPod
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;PTSTPodRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;TrackId&gt;XXXXXXXXXXX&lt;/TrackId &gt;<br>&nbsp; &nbsp; &lt;MpSuffix&gt;9402&lt;/MpSuffix&gt;<br>&nbsp; &nbsp; &lt;MpDate&gt;2009-07-02 00:42:23.35744&lt;/MpDate&gt;<br>&nbsp; &nbsp; &lt;RequestType&gt;Email&lt;/RequestType&gt;<br>&nbsp; &nbsp; &lt;FirstName&gt;John&lt;/FirstName&gt;<br>&nbsp; &nbsp; &lt;LastName&gt;Doe&lt;/LastName&gt;<br>&nbsp; &nbsp; &lt;Email1&gt;cpapple@email.com &lt;/Email1&gt;<br>&nbsp; &nbsp; &lt;Email2&gt;&lt;/Email2&gt;<br>&nbsp; &nbsp; &lt;Email3&gt;&lt;/Email3&gt;<br>&nbsp; &nbsp; &lt;CustRegID&gt;1234567890&lt;/CustRegID&gt;<br>&nbsp; &nbsp; &lt;TableCode&gt;T&lt;/TableCode&gt;<br>&nbsp; &nbsp; &lt;ClientIp&gt;127.0.0.1&lt;/ClientIp&gt;<br>&nbsp; &nbsp; &lt;SourceId&gt;IVR&lt;/SourceId&gt;<br>&lt;/PTSTPodRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSTPodRequest'
              example: '<PTSTPodRequest USERID="XXXXXXXXXXXX">
                          <TrackId>XXXXXXXXXXX</TrackId >
                          <MpSuffix>9402</MpSuffix>
                          <MpDate>2009-07-02 00:42:23.35744</MpDate>
                          <RequestType>Email</RequestType>
                          <FirstName>John</FirstName>
                          <LastName>Doe</LastName>
                          <Email1>cpapple@email.com </Email1>
                          <Email2></Email2>
                          <Email3></Email3>
                          <CustRegID>1234567890</CustRegID>
                          <TableCode>T</TableCode>
                          <ClientIp>127.0.0.1</ClientIp>
                          <SourceId>IVR</SourceId>
                        </PTSTPodRequest>'
      responses:
        '200':
          description: response to package tracking'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSTPodResult'
              example: '<PTSTPODRESULT>
                          <ResultText>Your Proof of Delivery record is complete and will be processed shortly.</ResultText>
                          <ReturnCode>0</ReturnCode>
                        </PTSTPODRESULT>'
  /ShippingAPI.dll?API=PTSRre:
    get:
      summary: 'Return Receipt Electronic'
      operationId: return_receipt_electronic
      tags:
        - Return Receipt Electronic
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: PTSRre
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;PTSRreRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;&nbsp;<br>&nbsp; &nbsp; &lt;TrackId&gt;XXXXXXXXXXX&lt;/TrackId &gt;&nbsp;<br>&nbsp; &nbsp; &lt;ClientIp&gt;127.0.0.1&lt;/ClientIp&gt;<br>&nbsp; &nbsp; &lt;SourceId&gt;XYZ Corp&lt;/SourceId&gt;<br>&nbsp; &nbsp; &lt;MpSuffix&gt;9402&lt;/MpSuffix&gt;<br>&nbsp; &nbsp; &lt;MpDate&gt;2009-07-02 00:42:23.35744&lt;/MpDate&gt;<br>&nbsp; &nbsp; &lt;FirstName&gt;John&lt;/FirstName&gt;<br>&nbsp; &nbsp; &lt;LastName&gt;Doe&lt;/LastName&gt;<br>&nbsp; &nbsp; &lt;Email1&gt;cpapple@email.com&lt;/Email1&gt;<br>&nbsp; &nbsp; &lt;Email2&gt;&lt;/Email2&gt;<br>&nbsp; &nbsp; &lt;Email3&gt;&lt;/Email3&gt;<br>&nbsp; &nbsp; &lt;TableCode&gt;T&lt;/TableCode&gt;<br>&nbsp; &nbsp; &lt;CustRegID&gt;1234567890&lt;/CustRegID&gt;<br>&lt;/PTSRreRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSRreRequest'
              example: '<PTSRreRequest USERID="XXXXXXXXXXXX"> 
                          <TrackId>XXXXXXXXXXX</TrackId > 
                          <ClientIp>127.0.0.1</ClientIp>
                          <SourceId>XYZ Corp</SourceId>
                          <MpSuffix>9402</MpSuffix>
                          <MpDate>2009-07-02 00:42:23.35744</MpDate>
                          <FirstName>John</FirstName>
                          <LastName>Doe</LastName>
                          <Email1>cpapple@email.com</Email1>
                          <Email2></Email2>
                          <Email3></Email3>
                          <TableCode>T</TableCode>
                          <CustRegID>1234567890</CustRegID>
                        </PTSRreRequest>'
      responses:
        '200':
          description: response to package tracking'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSRreResult'
              example: '<PTSRRERESULT>
                          <ResultText>Your Proof of Delivery record is complete and will be processed shortly</ResultText>
                          <ReturnCode>0</ReturnCode>
                        </PTSRRERESULT>'
  /ShippingAPI.dll?API=PTSPod:
    get:
      summary: 'Proof of Delivery'
      operationId: proof_of_delivery
      tags:
        - Proof of Delivery
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: PTSPod
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;PTSPodRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;&nbsp;<br>&nbsp; &nbsp; &lt;TrackId&gt;XXXXXXXXXXX&lt;/TrackId &gt;<br>&nbsp; &nbsp; &lt;ClientIp&gt;127.0.0.1&lt;/ClientIp&gt;<br>&nbsp; &nbsp; &lt;SourceId&gt;XXXXXX&lt;/SourceId&gt;<br>&nbsp; &nbsp; &lt;MpSuffix&gt;9402&lt;/MpSuffix&gt;<br>&nbsp; &nbsp; &lt;MpDate&gt;2009-07-02 00:42:23.35744&lt;/MpDate&gt;<br>&nbsp; &nbsp; &lt;RequestType&gt;Email&lt;/RequestType&gt;<br>&nbsp; &nbsp; &lt;FirstName&gt;John&lt;/FirstName&gt;<br>&nbsp; &nbsp; &lt;LastName&gt;Doe&lt;/LastName&gt;<br>&nbsp; &nbsp; &lt;Email1&gt;test@email.com &lt;/Email1&gt;<br>&nbsp; &nbsp; &lt;Email2&gt;&lt;/Email2&gt;<br>&nbsp; &nbsp; &lt;Email3&gt;&lt;/Email3&gt;&nbsp;<br>&nbsp; &nbsp; &lt;TableCode&gt;T&lt;/TableCode&gt;<br>&nbsp; &nbsp; &lt;CustRegID&gt;1234567890&lt;/CustRegID&gt;<br>&lt;/PTSPodRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSPodRequest'
              example: '<PTSPodRequest USERID="XXXXXXXXXXXX"> 
                          <TrackId>XXXXXXXXXXX</TrackId >
                          <ClientIp>127.0.0.1</ClientIp>
                          <SourceId>XXXXXX</SourceId>
                          <MpSuffix>9402</MpSuffix>
                          <MpDate>2009-07-02 00:42:23.35744</MpDate>
                          <RequestType>Email</RequestType>
                          <FirstName>John</FirstName>
                          <LastName>Doe</LastName>
                          <Email1>test@email.com </Email1>
                          <Email2></Email2>
                          <Email3></Email3> 
                          <TableCode>T</TableCode>
                          <CustRegID>1234567890</CustRegID>
                        </PTSPodRequest>'
      responses:
        '200':
          description: response to package tracking'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSPodResponse'
              example: '<PTSPODRESULT>
                          <ResultText>Your Proof of Delivery record is complete and will be processed shortly.</ResultText> <ReturnCode>0</ReturnCode>
                        </PTSPODRESULT>'
  /ShippingAPI.dll?API=PTSEmail:
    get:
      summary: 'Track & Confirm by Email'
      operationId: track_confirm_by_email
      tags:
        - Track & Confirm by Email
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: PTSEmail
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;PTSEmailRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;&nbsp;<br>&nbsp; &nbsp; &lt;TrackId&gt;XXXXXXXXXXX&lt;/TrackId &gt;&nbsp;<br>&nbsp; &nbsp; &lt;ClientIp&gt;127.2.0.1&lt;/ClientIp&gt;<br>&nbsp; &nbsp; &lt;SourceId&gt;XYZ Corp&lt;/SourceId&gt;<br>&nbsp; &nbsp; &lt;MpSuffix &gt;9402&lt;/MpSuffix&gt;<br>&nbsp; &nbsp; &lt;MpDate &gt;2021-07-02 00:42:23.35744&lt;/MpDate&gt;&nbsp;<br>&nbsp; &nbsp; &lt;RequestType&gt;EN&lt;/RequestType&gt;&nbsp;<br>&nbsp; &nbsp; &lt;FirstName&gt;John&lt;/FirstName&gt;<br>&nbsp; &nbsp; &lt;LastName &gt;Doe&lt;/LastName&gt;&nbsp;<br>&nbsp; &nbsp; &lt;Email1&gt;test@email.com&lt;/Email1&gt;&nbsp;<br>&nbsp; &nbsp; &lt;Email2&gt;&lt;/Email2&gt;<br>&nbsp; &nbsp; &lt;Email3&gt;&lt;/Email3&gt;<br>&lt;/PTSEmailRequest&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSEmailRequest'
              example: '<PTSEmailRequest USERID="XXXXXXXXXXXX"> <TrackId>XXXXXXXXXXX</TrackId > <ClientIp>127.2.0.1</ClientIp>
                          <SourceId>XYZ Corp</SourceId>
                          <MpSuffix >9402</MpSuffix>
                          <MpDate >2009-07-02 00:42:23.35744</MpDate> <RequestType>EN</RequestType> <FirstName>John</FirstName>
                          <LastName >Doe</LastName> <Email1>test@email.com</Email1> <Email2></Email2>
                          <Email3></Email3>
                        </PTSEmailRequest>'
      responses:
        '200':
          description: response to package tracking'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/PTSEmailResponse'
              example: '<PTSEMAILRESULT>
                          <ResultText>Your request for all activity to-date will be processed within four hours. Any future activity will be processed whenever there is new delivery related event activity.</ResultText> <ReturnCode>0</ReturnCode>
                        </PTSEMAILRESULT>'
  /ShippingAPI.dll?API=TrackV2:
    get:
      summary: 'Package Tracking'
      operationId: package_tracking
      tags:
        - Package Tracking
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: TrackV2
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;TrackRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;TrackID ID=&quot;XXXXXXXXXXX1&quot;&gt;&lt;/TrackID&gt;<br>&nbsp; &nbsp; &lt;TrackID ID=&quot;XXXXXXXXXXX2&quot;&gt;&lt;/TrackID&gt;<br>&lt;/TrackRequest&gt;<br></div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TrackRequest'
              example: '<TrackRequest USERID="XXXXXXXXXXXX">
                            <TrackID ID="XXXXXXXXXXX1"></TrackID>
                            <TrackID ID="XXXXXXXXXXX2"></TrackID>
                        </TrackRequest>'
      responses:
        '200':
          description: response to package tracking'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TrackResponse'
              example: '<TrackResponse>
                            <TrackInfo ID="XXXXXXXXXXX1">
                                <TrackSummary> Your item was delivered at 6:50 am on February 6 in BARTOW FL33830.</TrackSummary>
                                <TrackDetail>February 6 6:49 am NOTICE LEFT BARTOW FL 33830</TrackDetail>
                                <TrackDetail>February 6 6:48 am ARRIVAL AT UNIT BARTOW FL 33830</TrackDetail>
                                <TrackDetail>February 6 3:49 am ARRIVAL AT UNIT LAKELAND FL 33805</TrackDetail>
                                <TrackDetail>February 5 7:28 pm ENROUTE 33699</TrackDetail>
                                <TrackDetail>February 5 7:18 pm ACCEPT OR PICKUP 33699</TrackDetail>
                            </TrackInfo>
                        </TrackResponse>'
    post:
      summary: 'Package Tracking Fields'
      operationId: package_tracking_fields
      tags:
        - Package Tracking
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: TrackV2
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;TrackFieldRequest USERID=&quot;XXXXXXXXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;Revision&gt;1&lt;/Revision&gt;&nbsp;<br>&nbsp; &nbsp; &lt;ClientIp&gt;122.3.3&lt;/ClientIp&gt;<br>&nbsp; &nbsp; &lt;SourceId&gt;XYZ Corp&lt;/SourceId&gt;<br>&nbsp; &nbsp; &lt;TrackID ID=&quot;XXXXXXXXXXXXXXXX&quot;/&gt;&nbsp;<br>&lt;/TrackFieldRequest&gt;<br></div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/TrackFieldRequest'
              example: '<TrackFieldRequest USERID="XXXXXXXXXXXX"> 
                            <Revision>1</Revision> 
                            <ClientIp>122.3.3</ClientIp>
                            <SourceId>XYZ Corp</SourceId>
                            <TrackID ID="XXXXXXXXXXXXXXXX"/> 
                        </TrackFieldRequest>'
      responses:
        '200':
          description: response to package tracking fields'
          content:
            text/xml:
              schema:
                type: object
                xml:
                  name: 'TrackResponse'
                required:
                - TrackInfo
                properties:
                  TrackInfo:
                    type: object
                    xml:
                      name: 'TrackInfo'
                    required:
                    - ID
                    - TrackSummary
                    - TrackDetail
                    description: 'Integer value used to return of all available response fields. Set this value to 1 to return all currently documented response fields.'
                    properties:
                      ID:
                        type: string
                        default: 826ADISY3274
                        description: ' This attribute specifies your Web Tools ID. (aka your API KEY) See the [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") for information on obtaining your USERID.'
                        xml:
                          attribute: true
                      GuaranteedDeliveryDate:
                          type: string
                          format: 'date'
                          description: 'Global Express Mail only: certain countries provide a guarantee delivery.'
                          example: 'March 5, 2022'
                      TrackSummary:
                          type: object
                          required:
                          - EventTime
                          - EventDate
                          - Event
                          - EventCity
                          - EventState
                          - EventZIPCode
                          description: 'Tracking Summary Information'
                          properties:
                            EventTime:
                                type: string
                                description: 'The time of the event'
                                example: '12:49 pm'
                            EventDate:
                                type: string
                                description: 'The date of the event'
                                example: 'March 5, 2022'
                            Event:
                                type: string
                                description: 'The event type'
                                example: 'USPS in possession of item'
                            EventCity:
                                type: string
                                description: 'City where the event occurred'
                                example: 'MORAGA'
                            EventState:
                                type: string
                                description: 'State where the event occurred'
                                example: 'CA'
                            EventZIPCode:
                                type: string
                                description: 'ZIP Code of the event.'
                                example: '94556'
                            EventCountry:
                                type: string
                                description: 'Country where the event occurred'
                                example: 'US'
                            FirmName:
                                type: string
                                description: 'Company name if delivered to a company'
                                example: 'ACME corp'
                            Name:
                                type: string
                                description: 'Name of the persons signing for delivery (if available)'
                            AuthorizedAgent:
                              type: boolean
                              description: 'True/False field indicating the person signing as an Authorized Agent'
                              example: 'False'
                            EventCode:
                              type: string
                              description: 'The event code'
                              example: '03'
                            EventStatusCategory:
                              type: string
                              description: 'The status of a posted event on a mail piece.'
                              example: 'CMCXXXX Delivered'
                            ActionCode:
                                type: string
                                description: 'The action code'
                                example: '102'
                            ReasonCode:
                                type: string
                                description: 'The reason code'
                                example: '04B'
                      TrackDetail:
                        type: object
                        required:
                        - EventTime
                        - EventDate
                        - Event
                        - EventCity
                        - EventState
                        - EventZIPCode
                        description: 'Tracking Detail Information. This group is repeatable'
                        properties:
                          DeliveryAttributeCode:
                            type: string
                            enum:
                              - '32'
                            description: 'Used to provide additional information regarding an event posted to a mail piece.'
                            example: '32'
                          EventTime:
                              type: string
                              description: 'The time of the event'
                              example: '12:49 pm'
                          EventDate:
                              type: string
                              description: 'The date of the event'
                              example: 'March 5, 2022'
                          Event:
                              type: string
                              description: 'The event type'
                              example: 'USPS in possession of item'
                          EventCity:
                              type: string
                              description: 'City where the event occurred'
                              example: 'MORAGA'
                          EventState:
                              type: string
                              description: 'State where the event occurred'
                              example: 'CA'
                          EventStatusCategory:
                            type: string
                            description: 'The status of a posted event on a mail piece.'
                            example: 'CA'
                          EventPartner:
                            type: string
                            description: 'Stores the name of the shipping partner associated to a posted shipping partner event (80,81,82)'
                            example: 'CA'
                          EventZIPCode:
                              type: string
                              description: 'ZIP Code of the event.'
                              example: '94556'
                          EventCountry:
                              type: string
                              description: 'Country where the event occurred'
                              example: 'US'
                          FirmName:
                              type: string
                              description: 'The company name if delivered to a company'
                              example: 'ACME corp'
                          Name:
                              type: string
                              description: 'The name of the persons signing for delivery (if available)'
                              example: 'John Doe'
                          AuthorizedAgent:
                              type: boolean
                              description: 'True/False field indicating the person signing as an Authorized Agent'
                              example: 'False'
                          EventCode:
                              type: string
                              description: 'The event code'
                              example: '03'
                          ActionCode:
                              type: string
                              description: 'The action code'
                              example: '03'
                          ReasonCode:
                              type: string
                              description: 'The reason code'
                          GeoCertified:
                            type: boolean
                            description: 'Only eligible to display with delivery'
                            example: 'False'
                      RequestSeqNumber:
                        type: number
                        description: 'A unique identification number for a request. The same number that was provided in the request.'
                        example: '122'
                      AdditionalInfo:
                        type: string
                        description: 'Additional package information'
                      ADPScripting:
                        type: string
                        description: 'Additional ADP scripting specific to the ADP Type code'
                      ArchiveRestoreInfo:
                        type: string
                        description: 'Information regarding availability of Restore service function'
                        example: 'Yes'
                      AssociatedLabel:
                        type: string
                        description: 'Additional Label on the mail piece'
                        example: 'EA123456785US'
                      CarrierRelease:
                        type: boolean
                        description: 'Field indicating the item qualifies for the customer to electronically authorize shipment release.'
                        example: 'False'
                      Class:
                        type: string
                        description: 'Mail Class of the mail piece (human readable). This will also include the service standard message if it exists.'
                        example: 'True'
                      ClassofMailCode:
                        type: string
                        description: 'Mail Class of the mail piece (code).'
                        example: 'CP'
                      DestinationCity:
                        type: string
                        description: 'The destination city.'
                        example: 'NEW ORLEANS'
                      DestinationCountryCode:
                        type: string
                        description: 'The destination country code'
                        example: 'US'
                      DestinationState:
                        type: string
                        description: 'The destination State'
                        example: 'LA'
                      DestinationZip:
                        type: string
                        description: 'The destination ZIP code'
                        example: '70117'
                      EditedLabelID:
                        type: string
                        description: 'Edited Label ID or Full Label ID. Used only when Source ID is IVR'
                        example: 'EA123456795US'
                      EmailEnabled:
                        type: boolean
                        description: 'Signifies if USPS Tracking by Email service is enabled.'
                        example: 'false'
                      EndOfDay:
                        type: string
                        description: 'Populated with the end of day time provided by TRP when TRP API indicates the window is “End of Day” or when the piece is eligible for the PTR default end of day.'
                        example: '5:00pm'
                      eSOFEligible:
                        type: boolean
                        description: 'Signifies if the mailpiece is eSOF eligibile.'
                        example: 'false'
                      ExpectedDeliveryDate:
                        type: string
                        description: 'Expected delivery date.'
                        example: 'December 31, 2022'
                      ExpectedDeliveryTime:
                        type: string
                        description: 'Expected Delivery Time'
                        example: '3:00 PM'
                      ExpectedDeliveryType:
                        type: string
                        description: 'Populates "Expected Delivery by" if there is an EDD.'
                        example: 'Expected Delivery by'
                      GuaranteedDeliveryTime:
                        type: string
                        description: 'Guaranteed Delivery Time provided for Priority Mail Express.'
                        example: '3:00 PM'
                      GuaranteedDeliveryType:
                        type: string
                        description: 'Populates "Scheduled Delivery by" if there is a GDD'
                        example: 'Scheduled Delivery by'
                      GuaranteedDetails:
                        type: string
                        description: 'Special messaging related to the guarantee.'
                        example: 'Loss Only Guarantee'
                      ItemShape:
                        type: string
                        enum:
                            - Letter
                            - Flat
                            - Parcel
                            - Unknown
                        description: 'Indicates the shape of the item.'
                      KahalaIndicator:
                        type: boolean
                        description: 'no description'
                        example: 'False'
                      MailTypeCode:
                        type: string
                        description: 'no description'
                        example: 'DM'
                      MPDATE:
                        type: string
                        description: 'Internal date stamp'
                        example: '2019-08-21 10:44:08.000000'
                      MPSUFFIX:
                        type: string
                        description: 'Internal suffix'
                        example: '999999999'
                      OnTime:
                        type: boolean
                        description: 'Field indicating if the item will be delivered on time as specified in the Expected or Guaranteed delivery date.'
                        example: 'False'
                      OriginCity:
                        type: string
                        description: 'The origin city'
                        example: 'San Francisco'
                      OriginCountryCode:
                        type: string
                        description: 'The origin country code'
                        example: 'US'
                      OriginState:
                        type: string
                        description: 'The origin state'
                        example: 'CA'
                      OriginZip:
                        type: string
                        description: 'The origin ZIP code'
                        example: '94107'
                      PodEnabled:
                        type: boolean
                        description: 'Signifies if Proof of Delivery service is enabled'
                        example: 'True'
                      PredictedDeliveryDate:
                        type: string
                        description: 'Predicted delivery date'
                        example: 'December 30, 2022'
                      PredictedDeliveryTime:
                        type: string
                        description: 'Predicted Delivery Time'
                        example: '3:00 PM'
                      PredictedDeliveryType:
                        type: string 
                        description: 'Populates "Expected Delivery "by or on", if the source of the PDD is TRP API. Populates "Expected Delivery on" if the source of the PDD is a PTR calculated date.'
                        example: 'Expected Delivery on'
                      PredictedDeliverySource:
                        type: string
                        description: 'States which system provided the Predicted Delivery prediction. TRP, AA'
                        example: 'TRP'
                      PDWStart:
                        type: string
                        description: 'Predicted Delivery Window start time in am/pm format. In an EndOfDay scenario, the PDWStart tag is null.'
                        example: '11:00am'
                      PDWEnd:
                        type: string
                        description: 'Predicted Delivery Window end time in am/pm format. In an EndOfDay scenario, the PDWEnd tag is null.'
                        example: '1:00pm'
                      PurgeByDate:
                        type: string
                        format: 'date'
                        description: 'Contains the Purge By Date of the mail piece.'
                        example: 'December 31, 2024'
                      RelatedRRID:
                        type: string
                        description: 'The related label ID between a tracking barcode, the core product, and a PS3811, Green Card Return Reciept. This field can contain either the core product label ID or the Green Card label ID. There is only a one to one relationship. Core Product ID: EA123456795US Or Green Card ID; 9590940112345671234567'
                        example: 'EA123456795US'
                      RedeliveryEnabled:
                        type: boolean
                        description: 'Field indicating if the item qualifies for redelivery.'
                        example: 'False'
                      RestoreEnabled:
                        type: boolean
                        description: 'Signifies if Restore tracking information service is enabled'
                        example: 'False'
                      ReturnDateNotice:
                        type: string
                        description: 'Field indicating the date the item will be Returned to Sender.'
                        example: 'December 1, 2022'
                      TpodEnabled:
                        type: boolean
                        description: 'Signifies if Tracking Proof of Delivery service is enabled'
                        example: 'False'
                      RRAMenabled:
                        type: boolean
                        description: 'Signifies if RRAM service is enabled'
                        example: 'False'
                      RreEnabled:
                        type: boolean
                        description: 'Signifies if Return Receipt Electronic service is enabled'
                        example: 'False'
                      Service:
                        type: string
                        description: 'Additional services purchased'
                        example: 'PO to Addressee'
                      ServiceTypeCode:
                        type: string
                        description: 'Service Type Code of the mail piece M, AD, VI, 03, 70, 716'
                        example: '701'
                      Status:
                        type: string
                        description: 'Package status'
                        example: 'Delivered'
                      StatusCategory:
                        type: string
                        description: 'Package status category'
                        example: 'In Transit'
                      StatusSummary:
                        type: string
                        description: 'Status summary'
                        example: 'Your item was delivered at 12:55 pm on April 05, 2010 in FALMOUTH, MA 02540'
                      TABLECODE:
                        type: string
                        description: 'Internal description of mail piece as it relates to PTR (live, history, or archived piece) T, H, A (CMC830 V3 – T is the only value defined)'
                        example: 'T'
                      ValueofArticle:
                        type: string 
                        description: 'Value of Article for when the Source ID is PIN'
                      Error:
                        type: object
                        description: 'error object returned by the API'
                        properties:
                          Number:
                            type: string
                            description: 'Assigned number for the type of error message.'
                            example: '-2147219283'
                          Description:
                            type: string
                            description: 'Descriptions of error message. Duplicate or 4 items were also tied to your 3849 ID but exceeded the maximum number of tracking number inquiries supported on this site. This 3849 ID was used on a large volume shipment and cannot be used for tracking on this site.'
                            example: 'A status update is not yet available on your Priority Mail Express<SUP>&reg;</SUP> package. It will be available when the shipper provides an update or the package is delivered to USPS. Check back soon. Sign up for Informed Delivery<SUP>&reg;</SUP> to receive notifications for packages addressed to you'
              example: '<TrackResponse>
                            <TrackInfo ID="XXXXXXXXXXXXXXXXXX"> 
                                <TrackSummary>
                                    <EventTime>10:45 pm</EventTime> 
                                    <EventDate>January 6, 2016</EventDate> 
                                    <Event>Arrived at USPS Facility</Event> 
                                    <EventCity>COLUMBUS</EventCity> 
                                    <EventState>OH</EventState> 
                                    <EventZIPCode>43218</EventZIPCode> 
                                    <EventCountry></EventCountry> 
                                    <FirmName></FirmName> 
                                    <Name></Name> 
                                    <AuthorizedAgent>false</AuthorizedAgent> 
                                </TrackSummary>
                                <TrackDetail>
                                        <EventTime>9:10 am</EventTime>
                                        <EventDate>January 6, 2016</EventDate>
                                        <Event>Acceptance</Event>
                                        <EventCity>LAKE CHARLES</EventCity>
                                        <EventState>IL</EventState>
                                        <EventZIPCode>12345</EventZIPCode>
                                        <EventCountry></EventCountry>
                                        <FirmName></FirmName>
                                        <Name></Name>
                                        <AuthorizedAgent>false</AuthorizedAgent>
                                </TrackDetail>
                            </TrackInfo>
                        </TrackResponse>'
  /ShippingAPI.dllAPI=RateV4:
    get:
      summary: 'Rate Calculator'
      operationId: calculate
      tags:
        - Domestic
      parameters:
        - name: API
          in: query
          description: API type
          required: true
          schema:
            type: string
            default: RateV4
        - name: XML
          in: query
          description: XML payload<br><br><div class="code">&lt;RateV4Request USERID=&quot;XXXXXX&quot;&gt;<br>&nbsp; &nbsp; &lt;Revision&gt;2&lt;/Revision&gt;<br>&nbsp; &nbsp; &lt;Package ID=&quot;0&quot;&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Service&gt; PRIORITY &lt;/Service&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;ZipOrigination&gt;2201&lt;/ZipOrigination&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;ZipDestination&gt;26301&lt;/ZipDestination&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Pounds&gt;8&lt;/Pounds&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Ounces&gt;2&lt;/Ounces&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Container&gt;&lt;/Container&gt;<br>&nbsp; &nbsp; &nbsp; &nbsp; &lt;Machinable&gt;TRUE&lt;/Machinable&gt;<br>&nbsp; &nbsp; &lt;/Package&gt;<br>&lt;/RateV4Request&gt;</div>
          required: true
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RateV4Request'
                example: '<RateV4Request USERID="XXXXXX">
                            <Revision>2</Revision>
                            <Package ID="0">
                                <Service> PRIORITY </Service>
                                <ZipOrigination>2201</ZipOrigination>
                                <ZipDestination>26301</ZipDestination>
                                <Pounds>8</Pounds>
                                <Ounces>2</Ounces>
                                <Container></Container>
                                <Machinable>TRUE</Machinable>
                            </Package>
                        </RateV4Request>'
      responses:
        '200':
          description: response to Domestic Rate Calculator'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/RateV4Response'
              example: '<RateV4Response>
                            <Package ID="0">
                                <ZipOrigination>22201</ZipOrigination>
                                <ZipDestination>26301</ZipDestination>
                                <Pounds>8</Pounds>
                                <Ounces>2</Ounces>
                                <Container>VARIABLE</Container>
                                <Zone>3</Zone>
                                <Postage CLASSID="1">
                                    <MailService>Priority Mail 3-Day&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</MailService>
                                    <Rate>14.10</Rate>
                                    <SpecialServices>
                                        <SpecialService>
                                            <ServiceID>119</ServiceID>
                                            <ServiceName>Adult Signature Required</ServiceName>
                                            <Available>true</Available>
                                            <Price>8.50</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>120</ServiceID>
                                            <ServiceName>Adult Signature Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>8.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>104</ServiceID>
                                            <ServiceName>Certificate of Mailing (Form 3817)</ServiceName>
                                            <Available>true</Available>
                                            <Price>1.65</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>105</ServiceID>
                                            <ServiceName>Certified Mail&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt;</ServiceName>
                                            <Available>true</Available>
                                            <Price>3.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>170</ServiceID>
                                            <ServiceName>Certified Mail&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt; Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>9.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>171</ServiceID>
                                            <ServiceName>Certified Mail&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt; Adult Signature Required</ServiceName>
                                            <Available>true</Available>
                                            <Price>9.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>172</ServiceID>
                                            <ServiceName>Certified Mail&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt; Adult Signature Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>9.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>103</ServiceID>
                                            <ServiceName>Collect on Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>8.60</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>175</ServiceID>
                                            <ServiceName>Collect on Delivery Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>14.45</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>125</ServiceID>
                                            <ServiceName>Insurance</ServiceName>
                                            <Available>true</Available>
                                            <Price>0.00</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>179</ServiceID>
                                            <ServiceName>Insurance Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>0.00</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>109</ServiceID>
                                            <ServiceName>Registered Mail&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</ServiceName>
                                            <Available>true</Available>
                                            <Price>13.75</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>176</ServiceID>
                                            <ServiceName>Registered Mail&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>19.60</Price>
                                            <DeclaredValueRequired>true</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>181</ServiceID>
                                            <ServiceName>Scan Retention</ServiceName>
                                            <Available>true</Available>
                                            <Price>0.99</Price>
                                            <DeclaredValueRequired>false</DeclaredValueRequired>
                                            <DueSenderRequired>false</DueSenderRequired>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>108</ServiceID>
                                            <ServiceName>Signature Confirmation&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt;</ServiceName>
                                            <Available>true</Available>
                                            <Price>3.45</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>173</ServiceID>
                                            <ServiceName>Signature Confirmation&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>9.30</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>156</ServiceID>
                                            <ServiceName>Signature Confirmation&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Electronic</ServiceName>
                                            <Available>true</Available>
                                            <Price>2.90</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>174</ServiceID>
                                            <ServiceName>Signature Confirmation&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Electronic Restricted Delivery</ServiceName>
                                            <Available>true</Available>
                                            <Price>8.75</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>190</ServiceID>
                                            <ServiceName>Special Handling - Fragile</ServiceName>
                                            <Available>true</Available>
                                            <Price>12.15</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>106</ServiceID>
                                            <ServiceName>USPS Tracking&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt;</ServiceName>
                                            <Available>true</Available>
                                            <Price>0.00</Price>
                                        </SpecialService>
                                        <SpecialService>
                                            <ServiceID>155</ServiceID>
                                            <ServiceName>USPS Tracking&amp;lt;sup&amp;gt;&amp;#174;&amp;lt;/sup&amp;gt; Electronic</ServiceName>
                                            <Available>true</Available>
                                            <Price>0.00</Price>
                                        </SpecialService>
                                    </SpecialServices>
                                </Postage>
                            </Package>
                        </RateV4Response>'
components:
  schemas:
    AddressValidateRequest:
      type: object
      required:
        - USERID
        - Address
      properties:
        USERID:
          type: string
          default: 826ADISY3274
          description: ' This attribute specifies your Web Tools ID. (aka your API KEY) See the [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") for information on obtaining your USERID.'
          xml:
            attribute: true
        Revision:
            type: string
            description: 'Integer value used to return all available response fields. Set this value to 1 to return all currently documented response fields.'
            default: 1
            minLength: 0
            pattern: '\d{1}'
        Address:
            type: object
            required:
                - Address1
                - City
                - State
            properties:
                FirmName: 
                    type: string
                    description: a company name
                    example: XYZ Corp
                Address1:
                    type: string
                    description: 'Delivery Address in the destination address. May contain secondary unit designator, such as APT or SUITE'
                    example: 'Suite 6100'
                Address2:
                    type: string
                    description: 'Delivery Address in the destination address. Required for all mail and packages, however 11-digit Destination Delivery Point ZIP+4 Code can be provided as an alternative in the Detail 1 Record.'
                    example: '185 Berry St'
                City:
                    type: string
                    description: 'City name of the destination address.'
                    maxLength: 15
                    example: 'San Francisco'
                State:
                    type: string
                    description: 'Two-character state code of the destination address.'
                    example: 'CA'
                    maxLength: 2
                Zip5:
                    type: string
                    description: 'Destination 5-digit ZIP Code. Numeric values (0-9) only. If International, all zeroes.'
                    example: '94556'
                Zip4:
                    type: string
                    description: 'Destination ZIP+4 Numeric values (0-9) only. If International, all zeroes. Default to spaces if not available.'
                Urbanization:
                    type: string
                    description: 'For Puerto Rico addresses only.'
                    maxLength: 28
      xml:
        name: 'AddressValidateRequest'
    AddressValidateResponse:
      type: object
      properties:
        Address:
            type: object
            properties:
                FirmName: 
                    type: string
                    description: a company name
                    example: XYZ Corp
                Address1:
                    type: string
                    description: 'Delivery Address in the destination address. May contain secondary unit designator, such as APT or SUITE'
                    example: 'Suite 6100'
                Address2:
                    type: string
                    description: 'Delivery Address in the destination address. Required for all mail and packages, however 11-digit Destination Delivery Point ZIP+4 Code can be provided as an alternative in the Detail 1 Record.'
                    example: '185 Berry St'
                Address2Abbreviation:
                    type: string
                    description: 'Address line 2 abbreviation. To return abbreviations you must set <Revision>=1'  
                City:
                    type: string
                    description: 'City name of the destination address.'
                    maxLength: 15
                    example: 'San Francisco'
                CityAbbreviation:
                    type: string
                    description: 'Abbreviated city name of the destination address. To return abbreviations you must set <Revision>=1'
                State:
                    type: string
                    description: 'Two-character state code of the destination address.'
                    example: 'CA'
                    maxLength: 2
                Zip5:
                    type: string
                    description: 'Destination 5-digit ZIP Code. Numeric values (0-9) only. If International, all zeroes.'
                    example: '94556'
                Zip4:
                    type: string
                    description: 'Destination ZIP+4 Numeric values (0-9) only. If International, all zeroes. Default to spaces if not available.'
                Urbanization:
                    type: string
                    description: 'For Puerto Rico addresses only.'
                    maxLength: 28
                DeliveryPoint:
                    type: string
                CarrierRoute:
                    type: string
                    description: 'Carrier Route code.' 
                Footnotes:
                    type: string
                    enum:
                        - A  #Zip Code Corrected
                        - B  #City / State Spelling Corrected
                        - C  #Invalid City /State / Zip
                        - D  #NO ZIP+4 Assigned
                        - E  #Zip Code Assigned for Multiple Response
                        - F  #Address could not be found in the National Directory File Database
                        - G  #Information in Firm Line used for matching
                        - H  #Missing Secondary Number
                        - I  #Insufficient / Incorrect Address Data
                        - J #Dual Address
                        - K  #Multiple Response due to Cardinal Rule
                        - L  #Address component changed 
                        - LI  #Match has been converted via LACS
                        - M  #Street Name changed
                        - N  #Address Standardized
                        - O  #Lowest +4 Tie-Breaker
                        - P  #Better address exists
                        - Q  #Unique Zip Code match
                        - R  #No match due to EWS
                        - S  #Incorrect Secondary Address
                        - T  #Multiple response due to Magnet Street Syndrome
                        - U  #Unofficial Post Office name
                        - V  #Unverifiable City / State
                        - W  #Invalid Delivery Address
                        - X  #No match due to out of range alias
                        - Y  #Military match USPS Web Tools User Guide
                        - Z  #Match made using the ZIPMOVE product data
                DPVConfirmation:
                    type: string
                    description: 'The DPV Confirmation Indicator is the primary method used by the USPS to determine whether an address was considered deliverable or undeliverable.'
                    enum:
                        - Y  #Address was DPV confirmed for both primary and (if present) secondary numbers.
                        - D  #Address was DPV confirmed for the primary number only, and the secondary number information was missing.
                        - S  #Address was DPV confirmed for the primary number only, and the secondary number information was present by not confirmed.
                        - N  #Both primary and (if present) secondary number information failed to DPV confirm.
                DPVCMRA:
                    type: string
                    description: 'CMRA Indicates a private business that acts as a mailreceiving agent for specific clients. “Y” Address was found in the CMRA table. “N” Address was not found in the CMRA table. Blank Address no'
                    enum:
                        - Y
                        - N
                DPVFootnotes:
                    type: string
                    description: 'DPV® Standardized Footnotes - EZ24x7Plus and Mail*STAR are required to express DPV results using USPS standard two character footnotes.'
                    enum:
                        - AA  #Input address matched to the ZIP+4 file.
                        - A1  #Input address not matched to the ZIP+4 file.
                        - BB  #Matched to DPV (all components).
                        - CC  #Secondary number not matched (present but invalid).
                        - N1  #High-rise address missing secondary number.
                        - M1  #Primary number missing.
                        - M3  #Primary number invalid.
                        - P1  #Input Address RR or HC Box number Missing.
                        - P3  #Input Address PO, RR, or HC Box number Invalid.
                        - F1  #Input Address Matched to a Military Address.
                        - G1  #Input Address Matched to a General Delivery Address
                        - U1  #Input Address Matched to a Unique ZIP Code™.
                Business:
                    type: string
                    description: 'Indicates whether address is a business or not'
                    enum:
                        - Y
                        - N
                CentralDeliveryPoint:
                    type: string
                    description: 'Central Delivery is for all business office buildings, office complexes, and/or industrial/professional parks. This may include call windows, horizontal locked mail receptacles, cluster box units.'
                    enum:
                        - Y
                        - N
                Vacant:
                    type: string
                    description: 'Is the location not occupied.'
                    enum:
                        - Y
                        - N
                ReturnText:
                    type: string
                    description: 'data validation error message'
                Error:
                    type: object
                    required:
                        - code
                        - message
                    properties:
                        number:
                            type: integer
                            format: int32
                            example: '2147219401'
                        source:
                            type: string
                            example: 'clsAMS'
                        description:
                            type: string
                            example: 'Address Not Found.'
                        HelpFile:
                            type: string
                        HelpContext:
                            type: string
                            example: '1000440'
    CityStateLookupRequest:
      type: object
      required:
        - USERID
        - Address
      properties:
        USERID:
          type: string
          default: 826ADISY3274
          description: ' This attribute specifies your Web Tools ID. See the [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") for information on obtaining your USERID.'
          xml:
            attribute: true
        Address:
          type: object
          required:
            - Zip5
          properties:
            Zip5:
              type: string
              description: 'Destination 5-digit ZIP Code. Numeric values (0-9) only. If International, all zeroes.'
              example: '94556'
      xml:
        name: 'CityStateLookupRequest'
    CityStateLookupResponse:
      type: object
      properties:
        Address:
          type: object
          properties:
            City:
              type: string
              description: 'City name of the destination address.'
              maxLength: 15
              example: 'San Francisco'
            State:
              type: string
              description: 'Two-character state code of the destination address.'
              example: 'CA'
              maxLength: 2
            Zip5:
              type: string
              description: 'Destination 5-digit ZIP Code. Numeric values (0-9) only. If International, all zeroes.'
              example: '94556'
            ReturnText:
              type: string
              example: 'Default address - The address you entered was found but more information is needed (such as an apartment, suite, or box number) to match to a specific address.'
            Error:
                type: object
                required:
                    - code
                    - message
                properties:
                    number:
                        type: integer
                        format: int32
                        example: '2147219401'
                    source:
                        type: string
                        example: 'clsAMS'
                    description:
                        type: string
                        example: 'Address Not Found.'
                    HelpFile:
                        type: string
                    HelpContext:
                        type: string
                        example: '1000440'
    ZipCodeLookupRequest:
      type: object
      required:
        - USERID
        - Address
      properties:
        USERID:
          type: string
          default: 826ADISY3274
          description: ' This attribute specifies your Web Tools ID. See the [Developers Guide]("https://www.usps.com/business/web-tools-apis/documentation-updates.htm") for information on obtaining your USERID.'
          xml:
            attribute: true
        Address:
            type: object
            required:
                - Address1
                - City
                - State
            properties:
                FirmName: 
                    type: string
                    description: a company name
                    example: XYZ Corp
[...]
