* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   a {
    color: #ecf0f5;
    font-weight: bolder;
   }
   li {
    list-style: none;
   }
   
   /* NAVBAR STYLING STARTS */
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3898ec;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu a:hover {
    background-color: #80cbeb;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   