<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <title>Open source docs for USPS Web Tools APIs built by Lob</title>

  <!-- Begin Meta -->
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta name="keywords" content="USPS, Web, Tools, API, documentation, Opensource, OpenAPI, Postman">
  <meta name="ROBOTS" content="INDEX, FOLLOW">
  <meta name="author" content="Lob Developer Experience">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="description" content="Working together to improve the developer experience for everyone. USPS Web Tools API documentation generated using an OpenAPI 3.0 spec and Redocly">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'/>
  <link rel="stylesheet" href="https://use.typekit.net/kay8yxk.css">  
  <link rel="shortcut icon" type="image/svg+xml" href="images/mailbox-2-svgrepo-com.svg" />
  <link rel='stylesheet' href='chunks/styles.min.css'/>
  <link rel='stylesheet' href='chunks/main.css'/>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ESBZKDGQM2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ESBZKDGQM2');
  </script>
 
  {{{redocHead}}}
  {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>

<body>

<nav class="navbar">
 <!-- LOGO -->
 <div class="logo"><img src="images/mailbox-svgrepo-com.svg" style="height:50px; vertical-align:middle;"> USPS Web Tools API</div>
 <div style="float:right;">
   <br><strong>Built with <img src="images/heart-svgrepo-com.svg" style="height:25px; vertical-align:middle;"> by <a href="https://www.lob.com" target="_blank">Lob</a></strong>
 </div>
 </nav>


  {{{redocHTML}}} 


  <style>
    code,.hoverable{color:#416581}
    {{!-- extra styles to get around Redoc restrictions --}}
    h3{color: #5f83a5;font-size: 15px;margin: 30px 0 20px;font-weight: 600}
    .dFWqin pre[class*='language-']{background:#416581}
    .dFWqin pre[class*='language-'] > code > span.token.string, .dFWqin pre[class*='language-'] > code > span.token.number, .dFWqin pre[class*='language-'] > code > span.token.constant, .dFWqin pre[class*='language-'] > code > span.token.boolean{color:#ecf0f5}
    .dFWqin .token.property.string{color:#416581}
    .coaOfs .token.property.string{color:#416581}
    .coaOfs .token.boolean{color:#1878e0}
    .coaOfs .token.atrule, .coaOfs .token.attr-value, .coaOfs .token.keyword{color:#1878e0}
    .coaOfs .token.selector, .coaOfs .token.attr-name, .coaOfs .token.string, .coaOfs .token.char, .coaOfs .token.builtin, .coaOfs .token.inserted{color:#416581}
    .dFWqin .token.selector, .dFWqin .token.attr-name, .dFWqin .token.string, .dFWqin .token.char, .dFWqin .token.builtin, .dFWqin .token.inserted{color:#416581}
    .dFWqin .token.atrule, .dFWqin .token.attr-value, .dFWqin .token.keyword{color:#1878e0}
    .dFWqin .token.boolean{color:#1878e0}
    .dFWqin .token.selector + a, .dFWqin .token.attr-name + a, .dFWqin .token.string + a, .dFWqin .token.char + a, .dFWqin .token.builtin + a, .dFWqin .token.inserted + a, .dFWqin .token.selector + a:visited, .dFWqin .token.attr-name + a:visited, .dFWqin .token.string + a:visited, .dFWqin .token.char + a:visited, .dFWqin .token.builtin + a:visited, .dFWqin .token.inserted + a:visited{color:#416581}
    {{!-- formdata payload colors --}}
    .crBktj .token.selector, .crBktj .token.attr-name, .crBktj .token.string, .crBktj .token.char, .crBktj .token.builtin, .crBktj .token.inserted{color:#416581}
    .crBktj .token.boolean{color:#1878e0}
    .jnkRQj .collapser{color:#000000}
    div.react-tabs__tab-panel > div > div > span{color:#416581}
    div.react-tabs__tab-panel > div > div > div > span{color:#416581}
    ul > li.react-tabs__tab.react-tabs__tab--selected{color:#ecf0f5}
    ul > li.tab-success.react-tabs__tab--selected{color:#F6FFF4}
    ul > li.tab-error.react-tabs__tab--selected{color:#fbf1f0}
    .react-tabs__tab-panel > div > pre > .token.string, .react-tabs__tab-panel > div > pre > .token.builtin{color:#416581}
    .react-tabs__tab-panel > div > pre > .token.operator,
    .react-tabs__tab-panel > div > pre > .token.variable{color:#324350}
    div.react-tabs__tab-panel.react-tabs__tab-panel--selected{border-radius:10px}

    {{!-- sidebars fontweight --}}
    ul[role='navigation'] li > label > span { font-weight: 300; }
  </style>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
</body>
</html>